@font-face {
  font-family: test;
  src: url("assets\\fonts\\google fonts\\funsized-font\\Funsized-gJEP.ttf");
}

@font-face {
  font-family: outfit;
  src: url("assets\\fonts\\Outfit\\Outfit-VariableFont_wght.ttf");
}

/* General Responsive Section ------------------------------------------------------------------------------------------ */

body {
  font-family: outfit;
  background-color: #465460; /* Primary Dark */
  background: linear-gradient(180deg, #465460 1%, #2c2c2c);
  color: #f3f3f3; /* Light Background */
  margin: 0px;
  padding: 0px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    padding: 20px;
  }

  .profile-container {
    flex-direction: column;
    text-align: center;
  }

  .profile-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .buttons {
    justify-content: center;
  }
}

/* Page Progress bar ------------------------------------------------------------------------------------------ */

#bar {
  width: 0vw;
  height: 0.2vh;
  transition: all linear .2s;
  background-color: rgb(114, 165, 73);
  box-shadow: 0 0 10px 0px rgb(205, 255, 119);
  position: fixed;
  top:0;
  z-index: 100;
}

main {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
}

