/* General Responsive Section ------------------------------------------------------------------------------------------ */
* {
  font-size: medium;
}

h1 {
  color: #e9c46a;
}

h2 {
  color: #f4a261;
}

h3 {
  color: #e76f51;
}

body {
  font-family: outfit;
  background-color: #465460; /* Primary Dark */
  background: linear-gradient(180deg, #465460 1%, #2c2c2c);
  color: #E4E4E4; /* Light Background */
  margin: 0px;
  padding: 0px;
}

main {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: min(90%, 1200px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    padding: 20px;
  }

  .profile-container {
    flex-direction: column;
    text-align: center;
  }

  .profile-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .buttons {
    justify-content: center;
  }
}