#blog-button {
  background-color: #f65454;
}
#blog-button a span {
  color: #000000;
}

#blogSection {
  height: 100%;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 40px;
}

.blog-card {
  position: relative;
  height: 300px;
  border: 1px solid #ccc;
  border-left: 0px;
  border-right: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
	border-image: linear-gradient(to left, #18181800, #eee, #18181800) 1 0%;
}

.blog-card h2 {
  margin: 0 0 0.5rem;
}

.blog-card h2 a{
  text-decoration: none;
  color: #ffd787;
}

.blog-card .date {
  color: #f65454;
  font-size: 0.9rem;
}

.blog-card .content {
  width: min(100%, 600px);
  height: 100%;
  overflow: hidden; /* Hides overflowing content */
  text-overflow: ellipsis;
}

.blog-card .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.blog-card .thumbnail img {
  height: 100%;
  float: right;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 90%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 90%, transparent 100%);
}